// @font-face {
//     font-family: 'robotolight';
//     src: url('../fonts/roboto-light_6-webfont.woff2') format('woff2'),
//          url('../fonts/roboto-light_6-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium_6-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium_6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular_2-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'robotothin';
//     src: url('../fonts/roboto-thin_6-webfont.woff2') format('woff2'),
//          url('../fonts/roboto-thin_6-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black_6-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black_6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold_6-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold_6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}